@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Ralewat', sans-serif;
    overflow: hidden;
}

/* this for the video */
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#rutas-maritimas {
    top: 10%;
    position: absolute;
    width: 50%;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    opacity: 0.7;
    padding: 1.5rem;
}

#rutas-maritimas h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#rutas-maritimas label {
    text-align: justify;
    max-width: 43rem;
    margin-inline: auto;
    line-height: 1.5;
}

#rutas-maritimas select,
#rutas-maritimas ul {
    margin-bottom: 1rem;
}

#rutas-maritimas ul {
    list-style-type: none;
    padding: 0;
}

#rutas-maritimas li {
    margin-bottom: 0.5rem;
}

#rutas-maritimas input[type="checkbox"] {
    margin-right: 0.5rem;
}

#rutas-maritimas button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#rutas-maritimas button:hover {
    background-color: #0056b3;
}

/* para las opciones¿*/
body {
    font-family: Arial, sans-serif;
}

form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}